<nav>
    <div class="navbar">
      <div class="right-side">
        <img id="logo" src="../assets/mps_logo.svg" (click)="openHomepage()">
        <div class="homepage" (click)="openHomepage()">
          Miesto pavežėjimo sistema
        </div>
        <div class="search-trip" (click)="openSearch()">
          Ieškoti kelionės
        </div>
        <div class="add-trip" (click)="openAddTrip()">
          Pridėti kelionę
        </div>
      </div>
      <div class="left-side">
        <div class="login" (click)="openLogin()">
          Prisijungti
        </div>
        <div class="register">
          <div class="register-button-text" (click)="openRegister()">
            Užsiregistruoti
          </div>
        </div>
      </div>
    </div>
  </nav>