<div class="homepage">
    <div class="welcoming-text">
        <div class="title">Miesto pavežėjimo sistema</div>
    </div>
    <div class="buttons">
        <div class="homepage-button" (click)="openSearch()">
            <div class="button-icon">
                <img class="search-icon" src="assets/icons/search-svgrepo-com.svg">
            </div>
            <div class="button-text">Ieškoti kelionės</div>
        </div>
        <div class="homepage-button" (click)="openAddTrip()">
            <div class="button-icon">
                <img class="car-icon" src="assets/icons/car-svgrepo-com.svg">
            </div>
            <div class="button-text">Pridėti kelionę</div>
        </div>
    </div>
</div>
