<div class="homepage">
    <div class="welcoming-text">
        <div class="title">Prisijungti</div>
    </div>
    <div class="form">
        <div class="form-group">
            <label class="form-label">Vartotojo vardas</label>
            <input type="email" class="form-control" id="search-text" [(ngModel)]="searchAddressFrom" placeholder="Įveskite vartotojo vardą" >
            <label class="form-label">Slaptažodis</label>
            <input type="password" class="form-control" id="search-text" [(ngModel)]="searchAddressTo" placeholder="Įveskite slaptažodį">
        </div>
    </div>
    <div class="buttons">
        <div class="homepage-button">
            <div class="button-icon">
                <img class="search-icon" src="assets/icons/check.svg">
            </div>
            <div class="button-text">Prisijungti</div>
        </div>
    </div>
</div>